<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="$group" version="1">
    <about>
        <name>Gong Notifier</name>
        <version>$version</version>
        <target-go-version>$goVersion</target-go-version>
        <description>Plugin to send notifications based on pipeline configurations</description>
        <vendor>
            <name>AdNovum Informatik AG</name>
            <url></url>
        </vendor>
    </about>
</go-plugin>