<div class="form_item_block">
    <label>SMTP Host:</label>
    <input type="text" ng-model="smtpHost"/>
    <span class="form_error" ng-show="GOINPUTNAME[smtpHost].$error.server">{{ GOINPUTNAME[smtpHost].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>SMTP Port:</label>
    <input type="text" ng-model="smtpPort"/>
    <span class="form_error" ng-show="GOINPUTNAME[smtpPort].$error.server">{{ GOINPUTNAME[smtpPort].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>From E-mail address:</label>
    <input type="text" ng-model="senderEmail"/>
    <span class="form_error" ng-show="GOINPUTNAME[senderEmail].$error.server">{{ GOINPUTNAME[senderEmail].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Server Display URL:
        <br/><i>For links in the e-mails</i>
    </label>
    <input type="text" ng-model="serverDisplayUrl"/>
    <span class="form_error" ng-show="GOINPUTNAME[serverDisplayUrl].$error.server">{{ GOINPUTNAME[serverDisplayUrl].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>E-mail subject template:</label>
    <input type="text" ng-model="subjectTemplate"/>
    <span class="form_error" ng-show="GOINPUTNAME[subjectTemplate].$error.server">{{ GOINPUTNAME[subjectTemplate].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>E-mail subject template:</label>
    <textarea rows="6" cols="50" ng-model="bodyTemplate"/>
    <span class="form_error" ng-show="GOINPUTNAME[bodyTemplate].$error.server">{{ GOINPUTNAME[bodyTemplate].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Server URL:
        <br/><i>For REST calls</i>
    </label>
    <input type="text" ng-model="serverUrl"/>
    <span class="form_error" ng-show="GOINPUTNAME[serverUrl].$error.server">{{ GOINPUTNAME[serverUrl].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>REST user name:</label>
    <input id="gong-rest-user" type="text" ng-model="restUser"/>
    <span class="form_error" ng-show="GOINPUTNAME[restUser].$error.server">{{ GOINPUTNAME[restUser].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>REST user password:</label>
    <input id="gong-rest-pwd" type="password" ng-model="restPassword"/>
    <span class="form_error" ng-show="GOINPUTNAME[restPassword].$error.server">{{ GOINPUTNAME[restPassword].$error.server }}</span>
</div>
<!-- Not really useful because the ajax request always includes the user's session cookie (no way not to) so can't verify authorization -->
<!--
<button class="check_connection submit button MB_focusable"
        onclick="var eok=document.getElementById('gong-conn-ok'); var efa=document.getElementById('gong-conn-fail');eok.style.display='none';efa.style.display='none';var usr=document.getElementById('gong-rest-user').value;var pwd=document.getElementById('gong-rest-pwd').value; var xhttp = new XMLHttpRequest();xhttp.onreadystatechange = function() {if (this.readyState == 4) {if (this.status == 200) {eok.style.display='inline';}else {efa.textContent = 'Connection failed with status ' + this.status; efa.style.display='inline';}}};xhttp.open('GET', '/go/api/admin/plugin_info/ch.adnovum.gong.notifier', true);if (usr && pwd) {xhttp.setRequestHeader('Authorization', 'Basic ' + btoa(usr + ':' + pwd));};xhttp.setRequestHeader('Accept', 'application/vnd.go.cd.v3+json\'');xhttp.send();">
    Check REST connection
</button>
<br/>
<span id="gong-conn-ok" style="color:green; display:none">Connection successful</span>
<span id="gong-conn-fail" style="color:red; display:none">Connection failed with status </span>
-->

